/* body {
    background-image: url("./1cmkfZ.gif");
} */

.navbar {
    padding: 0 1rem;
    background: rgb(0, 182, 182) !important;
}

.navbar-brand {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: center;
    margin-right: 0;
}

.logo {
    margin: 0 0 0 5%;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: x-large;
    text-shadow: 2px 2px 4px rgb(39, 39, 39);
    transition: text-shadow 0.2s ease-in-out;
}

.logo:hover {
    text-shadow: 3px 3px 9px rgb(0, 0, 0);
}

.nav-item {
    text-shadow: 2px 2px 4px rgb(39, 39, 39);
    transition: text-shadow 0.2s ease-in-out;
}

.social i {
    color: white;
}

section {
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 1% 0 1% 0;
}

#title {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #d0e7e7;
    text-shadow: 3px 3px 8px rgb(29, 29, 29);
    transition: text-shadow 0.1s ease-in-out;
}

#title:hover {
    text-shadow: 6px 6px 12px rgb(0, 0, 0);
}

.headshot {
    display: block;
    margin: 3% auto 0 auto;
    width: 30%;
    border-radius: 50%;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

#sec1 {
    background-image: url("./pink.jpg");
}

#sec2 {
    background-image: url("./neon.jpg");
}

.things {
    margin-top: 5%;
}

.card-deck {
    margin: 0 3%;
}

.card img {
    width: 30%;
}

#sec3 {
    background-image: url("./green.jpg");
    height: auto;
}

.card-columns {
    margin: 0 3%;
}

@media (max-width: 575.98px) {
    .container-fluid {
        margin: 0;
    }

    .navbar {
        padding: 0 1%;
    }

    .logo {
        white-space: normal;
    }

    .social {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 2%;
    }

    section {
        padding: 5% 0 0 0;
        height: auto;
    }

    #title {
        font-size: xx-large;
    }

    .headshot {
        width: 90%;
        margin-bottom: 25%; 
    }

    .things {
        margin: 4% 0 0 0;
        width: 100%;
        padding: 0;
    }

    .card img {
        width: 64px;
    }

    p {
        font-size: .9em;
    }

    iframe {
        width: 100%;
    }
}