/* body {
    background-image: url("./1cmkfZ.gif");
} */

.navbar {
    padding: 0 1rem;
    background: rgb(0, 182, 182) !important;
}

.navbar-brand {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: center;
    margin-right: 0;
}

.logo {
    margin: 0 0 0 5%;
    font-family: 'Cinzel', serif;
    font-size: x-large;
}

.social i {
    color: white;
}

section {
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 1% 0 1% 0;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #004042;
    background-color: rgb(208, 195, 219);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.headshot {
    display: block;
    margin: 3% auto 0 auto;
    width: 30%;
    border-radius: 50%;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

#sec1 {
    background-image: url("./pink.jpg");
}

#sec2 {
    background-image: url("./neon.jpg");
}

.things {
    margin-top: 10%;
}

.media img {
    width: 30%;
}

#sec3 {
    background-image: url("./green.jpg");
}

@media (max-width: 575.98px) {
    .container-fluid {
        margin: 0;
    }

    .navbar {
        padding: 0 1%;
    }

    .logo {
        white-space: normal;
    }

    .social {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 2%;
    }

    section {
        padding: 2% 0 0 0;
    }

    .headshot {
        width: 90%;
    }

    .things {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .media img {
        width: 64px;
    }

    p {
        font-size: .9em;
    }

    iframe {
        width: 100%;
    }
}