/* body {
    background-image: url("./1cmkfZ.gif");
} */

section {
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 1% 0 1% 0;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #004042;
    background-color: rgb(208, 195, 219);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.sec1 {
    background-image: url("./1cmkfZ.gif");
}

.sec2 {
    background-image: url("./neon.jpg");
}

.things {
    margin-top: 10%;
}

.sec3 {
    background-image: url("./green.jpg");
}

@media (max-width: 575.98px) {
    .container-fluid {
        margin: 0;
        /* padding: 0; */
    }

    img {
        width: 90%;
    }

    section {
        padding: 2% 0 0 0;
    }

    .things {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .media img {
        width: 64px;
    }

    p {
        font-size: .9em;
    }

    iframe {
        width: 100%;
    }
}